#naslov {
  background-color: cadetblue;
  cursor: pointer;
}
#products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  cursor: pointer;
}
.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  background-color: cadetblue;
}
p {
  cursor: pointer;
  background-color:lightgrey;
 
 
}
.dark-mode {
  background-color: #282828;
  color: rgb(231, 231, 231);
}

.dark-toggle {
  color: white;
}
