body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #0f172a;
  margin: none;
  padding: none;
}
.nav {
  display: flex;
  gap: 12px;
  justify-content: center;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 22px;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: #f3f4f6;
  padding: 14px 5px;
  border-radius: 8px;
  font-weight: bolder;
}
.nav a:hover {
  color: #0a0a0a;
  background-color: #e5e7eb;
}

#joinLink {
  color: #0a0a0a;
  text-align: center;
  cursor: pointer;

  padding: 8px 18px;
  border-radius: 12px;
  border: none;
  font-weight: bolder;
}
#joinLink:hover {
  color: #f3f4f6;
  background-color: #0a0a0a;
}
#logout-btn {
  display: flex;
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  padding: 8px 22px;
  background-color: #1f2937;
  color: #f3f4f6;
  position: absolute;
  right: 0;
  margin-right: 12px;
}
#logout-btn:hover {
  background-color: #3b82f6;
}
.summary {
  display: flex;
  background-color: #1f2937;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  align-items: flex-start;
  max-width: 1000px;
  margin-top: 20px;
}

.summary img {
  width: 200px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.summary-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.summary h2 {
  font-size: 1.5rem;
  color: #d1d5db;
  margin-top: 0;
  margin-bottom: 10px;
}

.summary p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}
.genres {
  color: #a0aec0;
  font-weight: 600;
}
.summary h2:last-child {
  font-size: 1.5em;
  color: #f3f4f6;
  border-top: 1px solid #374151;
  padding-top: 15px;
  margin-top: auto;
  width: 100%;
}

#episode-title {
  font-size: 18px;
  color: #051017;
}
#episode-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.episode-card {
  background: #1f2937;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.episode-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6), 0 0 0 3px #14b8a6;
}

.episode-card img {
  width: 100%;
  border-radius: 12px;
}

.episode-card h3 {
  margin: 0;
  color: #d1d5db;
}

.episode-card p {
  font-size: 14px;
  line-height: 1.4;
}
.cast-title {
  color: #f3f4f6;
}
#cast-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 10px;
}

.cast-member {
  background: #1f2937;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.cast-member:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6), 0 0 0 3px #14b8a6;
}
.cast-member img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}
.cast-member h2 {
  margin: 0px;
  color: #f3f4f6;
}
.cast-member p {
  color: #a0aec0;
  font-size: 0.95rem;
}
