body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  background-color: white;
}
.main-container {
  height: 100vh;
}
.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.title {
  font-size: 2.5rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.btn {
  border: none;
  background-color: white;
  font-size: 1.8rem;
  color: rgb(167, 162, 162);
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
}
.btn-1 {
  color: blueviolet;
  text-decoration: underline;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 1.8rem;
}
.btn:hover {
  color: blueviolet;
  text-decoration: underline;
}
/* grid layout */
.grid {
  display: grid;

  grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
  grid-template-rows: 200px 200px;

  padding: 50px 0;
  margin: 0 auto;
  gap: 30px;
}

.grid-item,
.grid-item-middle {
  position: relative;
  display: flex;
  justify-content: center;
  /* object-fit: cover; */
  overflow: hidden;
  
}
.grid-item-middle {
  border-radius: 23px;
  grid-row: 1 / span 2;
  grid-column: 3;
  
}

.grid-item {
  cursor: pointer;
  transition: 0.4s;
  border-radius: 5px;
  
}
.grid-item img,
.grid-item-middle img {
width: 100%;
    height: 100%;
    object-fit: cover;
        display: block;
} 
.grid-item:hover {
  transform: scale(1.2);
  z-index: 2;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 2rem;
  }
  .buttons {
    font-size: 1.5rem;
  }

  .grid {
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;

    gap: 20px;
    width: fit-content;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
  .grid {
    grid-template-rows: 140px 140px;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;

    gap: 30px;
    width: 90%;
  }
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 3rem;
  }
  .grid {
    grid-template-rows: 180px 180px;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
    gap: 30px;
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .grid-item-middle {
    grid-row: 1 / span 2;
    grid-column: 3;
  }
}

@media screen and(min-width: 1200px) {
  .title {
    font-size: 4rem;
  }
  .grid {
    grid-template-rows: 200px 200px;

    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
    gap: 30px;
    object-fit: cover;
    width: 100%;
    margin: 0 auto;
  }
}
