body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
   
}
h2{
    color: grey;
    display: flex;
    justify-content: center;
    
}
#label-sort{
    margin-bottom: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
    background-color: #329C8C;
    color: #f2f2f2;
}
th,
td{
    border: 1px solid #585612;
    text-align: left;
     padding: 8px;
}
th{
    background-color: #86c7bd;
}
.delete-btn {
  background-color: #d17872;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
}
.loading {
  text-align: center;
  padding: 20px;
}